@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a202c; /* Tailwind gray-900 */
  color: white;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
